.buttons {
  text-align: center;
  border-radius: 3rem;
}

.blob-btn {
  z-index: 1;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  &,
  p,
  a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    font-size: 1.6rem;
    position: relative;
    transition: color 0.5s;
    z-index: 2;
  }
  p,
  a {
    display: block;
    padding: 2rem 4.6rem;
    @media only screen and (max-width: 30em) {
      display: block;
      padding: 1.5rem 4rem;
    }
  }
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #55c57a;
  border-radius: 3rem;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 3rem;
}
@media (hover: hover) {
  .blob-btn:hover {
    &,
    p,
    a {
      color: #fff;
      border-radius: 3rem;
    }
  }
  .blob-btn:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
    border-radius: 3rem;
  }
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  background: #ffffff;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #55c57a;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
@media (hover: hover) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.7);
  }
}

.svg {
  position: absolute;
  left: 0;
  top: 100%;
}
